{{ define "dropdown" }}
    <div class="px-8 flex justify-center">
      <div class="relative inline-block text-left">
        <button type="button" class="inline-flex shadow-lg w-full justify-center rounded-md bg-gray-200 px-4 py-2 text-sm font-medium text-black hover:bg-gray-300 focus:outline-none" id="menu-button" aria-expanded="true" aria-haspopup="true">
          Spirits
          <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>

        <!-- Dropdown panel, show/hide based on dropdown state. -->
        <div class="absolute mt-2 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 hidden" id="dropdown-menu">
          <div class="py-1" role="none">
            <a href="/" hx-get="/" hx-target="#page-body" hx-swap="innerHTML" class="text-gray-700 block px-5 py-2 text-sm hover:bg-gray-100" role="menuitem">No Filter</a>
            {{range .Spirits }}
              <a href="/spirit-filter/{{.}}" hx-get="spirit-filter/{{.}}" hx-target="#page-body" hx-swap="innerHTML" class="text-gray-700 block px-5 py-2 text-sm hover:bg-gray-100" role="menuitem">{{.}}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

<script>
  // Directly reference the button and menu inside the event listener
  document.querySelector('button').addEventListener('click', function() {
    document.getElementById('dropdown-menu').classList.toggle('hidden');  // Toggle visibility
  });

  // Close the dropdown if the user clicks outside of it
  document.addEventListener('click', function(event) {
    let button = document.querySelector('button');
    let menu = document.getElementById('dropdown-menu');
   
    if (!button || !menu) return;

    // Check if the click was outside the button or the dropdown menu
    if (!button.contains(event.target) && !menu.contains(event.target)) {
      menu.classList.add('hidden');
    }
  });
</script>
{{ end }} 
